  <div id="home_page">

    <div id="home_top_part">
      <!-- This is just to format the background photo. -->
      <div id="cool_stuff">
        <header>
          <h1>We do all sorts of cool stuff!</h1>
         </header>
          <h3>How about you try us out?</h3>
          <p class="center-justified"><em>Jelly beans marzipan I love bear claw gingerbread halvah chocolate cake.</em></p>
     
      </div>
    </div>

    <div id="about_us">      
      <header>
        <h2>A little about us!</h2>
        </header>
        <p class="center-justified">Tart cookie cupcake. Caramels apple pie powder sweet roll muffin caramels. Liquorice liquorice icing soufflé gummi bears ice cream chocolate cake biscuit icing. Caramels topping powder cotton candy.

        Jelly beans fruitcake gingerbread wafer gingerbread soufflé apple pie cotton candy. Liquorice wafer chocolate bar sugar plum bonbon unerdwear.com soufflé. Chupa chups caramels muffin toffee.</p>

    </div>

    <div id="the_blog">
      <header>
        <h2>Nothing Much</h2>
      </header>
      <p>
        <span class="blog_snippet">Apple pie gingerbread oat cake. Gingerbread ice cream ice cream chupa chups sesame snaps unerdwear.com. Cupcake brownie pudding topping candy canes applicake biscuit halvah brownie. Chocolate bar candy sweet oat cake ice cream lollipop sesame snaps pie dessert.
          <a href="http://localhost:9292/blog/post_5"><strong>(continue)</strong></a></span></p>

      <p> 
        <span class="blog_snippet">Marshmallow sesame snaps gummi bears. Ice cream donut topping unerdwear.com oat cake cake muffin chupa chups. Muffin carrot cake apple pie pie liquorice pastry. Danish cake liquorice wafer powder sweet roll carrot cake. Unerdwear.com chocolate bar croissant. Icing gummi bears cake cookie donut powder marshmallow muffin. 
          <a href="http://localhost:9292/blog/post_4"><strong>(continue)</strong></a></span></p>

      <p> 
        <span class="blog_snippet">Apple pie jelly sweet roll. Jujubes cheesecake apple pie jelly beans carrot cake bear claw candy chocolate bar tiramisu. Pastry danish bear claw danish. Chocolate marshmallow cookie sweet roll jujubes cupcake chocolate candy brownie. Tart danish marzipan pudding jelly beans macaroon sweet roll gingerbread. 
          <a href="http://localhost:9292/blog/post_3"><strong>(continue)</strong></a></span></p> 

    </div>

  </div>