<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/CSS/main.css"/>
    <title>New Site</title>
  </head>
  <body>
    <div class="quick-menu">
      <a href="https://www.google.com/">
        <span class="menu-text">About</span></a>
    </div>
    <div class="quick-menu">
     <a href="https://www.google.com/">
       <span class="menu-text">Here</span></a>
    </div>
    <div class="quick-menu">
      <a href="https://www.google.com/">
        <span class="menu-text">There</span></a>
    </div>
    <div class="quick-menu">
      <a href="https://www.google.com/"> 
        <span class="menu-text">There</span></a>
    </div>
  </body>
</html>

