 
  <body>
    <div id="bar">
      <header>
        <h1>We do all sorts of cool stuff!</h1>
        <h3>How about you try us out?</h3>
        <p><span id="paragraph"><em>Jelly beans marzipan I love bear claw gingerbread halvah chocolate cake.</em></span></p>
      </header>
    </div>
    <div class="cool-stuff">
      <header>
        
      </header>

    <div id="check_us_out">      
      <header>
        <h1>We do all sorts of cool stuff!</h1>
        <h3>How about you try us out?</h3>
        
      </header>

    </div>

<!--     <div id="footer">
    </div> -->
    <!-- 
    data-scroll-target="featured-work" data-behavior="scroll-arrow" alt="Down-arrow-1" -->
  </body>

