<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/CSS/main.css"/>
    <title>New Site</title>
  </head>
  <body>
    <div class="top_bar">
    </div>
    <div id="quick-menu">
      <ul>
        <li class="menu-item">
          <a href="https://www.google.com/">
            <span class="menu-text"> About </span></a></li>
 
        <li class="menu-item">
          <a href="https://www.google.com/">
            <span class="menu-text"> Blog </span></a></li>

        <li class="menu-item">
          <a href="https://www.google.com/">
            <span class="menu-text"> here </span></a></li>
      
        <li class="menu-item">
          <a href="https://www.google.com/"> 
            <span class="menu-text"> There </span></a></li>
      </ul>
    </div>

    <div id="bar">
      <header>
        <h1>We do all sorts of cool stuff!</h1>
        <h3>How about you try us out?</h3>
        <p><span class="paragraph"><em>Jelly beans marzipan I love bear claw gingerbread halvah chocolate cake.</em></span></p>
      </header>
    </div>
    <div class="cool-stuff">
      <header>
        
      </header>

    <div id="check_us_out">      
      <header>
        <h1>We do all sorts of cool stuff!</h1>
        <h3>How about you try us out?</h3>
        
      </header>

    </div>

<!--     <div id="footer">
    </div> -->
    <!-- 
    data-scroll-target="featured-work" data-behavior="scroll-arrow" alt="Down-arrow-1" -->
  </body>
</html>

