<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/css/main.css"/>
    <title>WAzaAA | WooO</title>
  </head>

  <body id="standard_pages">
    <div class="top_bar">
    </div>
    <div id="quick-menu">
      <ul>
        <li class="menu-item">
          <a href="https://www.google.com/">
            <span class="menu-text"> about </span></a></li>
 
        <li class="menu-item">
          <a href="https://www.google.com/">
            <span class="menu-text"> blog </span></a></li>

        <li class="menu-item">
          <a href="https://www.google.com/">
            <span class="menu-text"> here </span></a></li>
      
        <li class="menu-item">
          <a href="https://www.google.com/"> 
            <span class="menu-text"> there </span></a></li>
      </ul>
    </div>

    <%= yield %> <!-- This magic yield is injecting the specific .erb file (i.e. index.erb) into our layout. -->
      
      <ul>
      <% meta_data.sort_by {|post, date_hash| date_hash["date"]}.reverse.each do |post, meta_data| %>
        <li><a href="/blog/<%= post %>"><%= post%></a></li>
      <% end %>
      </ul>

  </body>
</html>