date: 2013-12-02

<h1>My First Post</h1>


<p>Thus far I have learned a little about the following: Ruby, Sinatra, HTML, CSS, Testing in RSPEC, Github, and BASH amongst other things. Honestly, five weeks ago, besides HTML and CSS I had never heard of any of these terms. And had you spoken to me about anything relating to computers aside from browsing and word processing, I would have shrugged you off and underneath been curious and intimidated at the same time. 
<br>
Yet, I applied to the Ada Developer’s Academy (ADA),  with a hope that this curiosity that has always been there would be fruitful. And it has been a real growing experience, because I have been challenged all around.</p>