date: 2013-11-11

<h1>My Second Post</h1>


<p>The second week feels better. 
However, I'm still not sure if I should be here. 
<br>
I don't know what I am doing. 
<br>
Never knew too much of a beginner was a real thing.
Humbling... for sure. 
Attainable, at least for me: questionable. 
<br>
Honesty is my policy, it's truly hard for me to not be.
<br>
Desire to be confident but...but...but...
<br>
Too old.
Too young.
Too dark.
Too slow.
Too late.
Too different.
<br>
Am I programmed to program?
My acquisition of knowledge
usually a breeze
<br>
Yet I hit this wall
no matter the kudos in the distance
it doesn't feel I am enough
<br>
Pulling up the rear's not usually my thing,
but, indeed I have been here before,
so I settle in for the ride
<br>

Security in the insecure,
knowing in the unknown
<br>

At the steering wheel blindfolded
tests of faith for sure
<br>

I will stand 
even if unsteadily
uneven ground 
from the back</p>